@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  width: 100%;
  height: 100%;
}

body {
  background-color: #B5B5B5;
}

::-webkit-scrollbar {
  width: 10px;
  background-color: transparent;
}
::-webkit-scrollbar-thumb {
  border: 4px solid transparent;
  border-radius: 7px;
  background-clip: padding-box;
  background-color: hsla(0,0%,59%,.5);
}
::-webkit-scrollbar-track {
  padding: 2px;
  background-color: transparent;
  border-radius: 10px;
}